{% extends 'base.html' %}
{% load static %}
{% load render_partial %}
{% block title %}
    change password
{% endblock %}

{% block references %}
    <link rel="stylesheet" href="{% static 'user_panel/css/change_password.css' %}">
{% endblock %}

{% block content %}
    <div class="container d-flex flex-wrap justify-content-center align-items-center">
        {% render_partial 'user_panel.views.profile_menu_component' %}
        <div class="col-sm bg-light p-3">
            <form method="post" class="p-3 ml-3">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">save</button>
            </form>

        </div>

    </div>
{% endblock %}