{% extends 'base.html' %}
{% load static %}
{% load render_partial %}
{% block title %}
    Profile
{% endblock %}

{% block references %}
    <link rel="stylesheet" href="{% static 'user_panel/css/profile.css' %}">
{% endblock %}

{% block content %}

    <div class="container d-flex flex-wrap justify-content-center align-items-center">
        {% render_partial 'user_panel.views.profile_menu_component' %}

        <div class="col-sm-12 col-md-9 d-flex bg-light p-3 mt-5 rounded">
            <div class="p-3 col-md-6">
                {% if user.avatar %}
                    <img src="{{ user.avatar.url }}" class="rounded rounded-circle" style="width: 200px" alt="">
                {% else %}
                    <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" style="width: 200px" alt="">

                {% endif %}
                <br>
                <a href="{% url 'user_panel:edit_profile_picture' %}" about="upload new profile picture"><i
                        class="bi bi-upload"></i></a>
            </div>
            <div class="p-3">
                <label for="#username" class="bg-light">Username : </label>
                <h4 class="card-title ml-2" id="username">{{ profile.user.username }}</h4>
                <label for="#email" class="bg-light">Email Address : </label>
                <h4 class="card-title ml-2" id="email">{{ profile.user.email }}</h4>
                <label for="#first_name" class="bg-light">First Name : </label>
                <h4 class="card-title ml-2" id="first_name">{{ profile.user.first_name }}</h4>
                <label for="#last_name" class="bg-light">Last Name : </label>
                <h4 class="card-title ml-2" id="last_name">{{ profile.user.last_name }}</h4>
            </div>
        </div>

    </div>

{% endblock %}