{% extends 'base.html' %}
{% load static %}

{% block title %}
    confirm
{% endblock %}


{% block references %}
    <link rel="stylesheet" href="{% static 'accounts/css/password_reset_confirm.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        {% if validlink %}
            <div class="screen">
                <div class="step_3">
                    <p>Step 3</p>
                    <p>Set New Password</p>
                </div>
                <div class="screen__content">
                    <form method="post" class="login">
                        {% csrf_token %}
                        <div class="login__field">
                            <i class="login__icon fas fa-user"></i>
                            <input type="password" name="new_password1" class="login__input"
                                   placeholder="new password">
                        </div>
                        <div class="login__field">
                            <i class="login__icon fas fa-lock"></i>
                            <input type="password" name="new_password2" class="login__input"
                                   placeholder="new password confirmation">
                        </div>
                        <button type="submit" class="button login__submit">
                            save new password
                        </button>

                    </form>

                </div>
                <div class="screen__background">
                    <span class="screen__background__shape screen__background__shape4"></span>
                    <span class="screen__background__shape screen__background__shape3"></span>
                    <span class="screen__background__shape screen__background__shape2"></span>
                    <span class="screen__background__shape screen__background__shape1"></span>
                </div>
            </div>
            {#            <form method="post">#}
            {#                {% csrf_token %}#}
            {#                {{ form.as_p }}#}
            {#                <button type="submit">save new password</button>#}
            {#            </form>#}
        {% else %}
            <h4>Your link is not valid , enter your emaill address <a
                    href="{% url 'accounts:password_reset' %}">again</a></h4>

        {% endif %}
    </div>
{% endblock %}