{% extends 'base.html' %}
{% load static %}

{% block title %}
    complete
{% endblock %}

{% block references %}
    <link rel="stylesheet" href="{% static 'accounts/css/password_reset_complete.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="screen">
            <div class="step_4">
                <p>Step 4</p>
                <p>Login With Your New Password</p>
            </div>


            <p>Your Password Reset Successfully <br>
                Now You Can <a href="{% url 'accounts:login' %}">Login</a> With Your New Password</p>
        </div>
    </div>
{% endblock %}