{% extends 'base.html' %}
{% load static %}

{% block title %}
    password reset
{% endblock %}

{% block references %}
    <link rel="stylesheet" href="{% static 'accounts/css/forgot_password.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="screen">
            <div class="screen__content">
                <div class="step_one">
                    <p>Step 1</p>
                    <p>Enter Your Email Address</p>
                </div>
                <form method="post" class="login">
                    {% csrf_token %}
                    <div class="login__field">
                        <i class="login__icon fas fa-user"></i>
                        <input type="email" name="email" class="login__input" placeholder="Email Address">
                    </div>
                    <button type="submit" class="button login__submit">
                        send email
                    </button>

                </form>


            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>
        </div>
    </div>

    <div class="container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="button login__submit">
                send email
            </button>
        </form>
    </div>
{% endblock %}
