{% extends 'base.html' %}
{% load static %}

{% block title %}Home  {% endblock %}

{% block references %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}
    <div class="container p-3 ">
        <hr>
        <div class="d-flex flex-column justify-content-center align-items-center">
            <h3>What book are you looking for?</h3>

            <form action="{% url 'book:list' %}" method="get">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="text" name="q" class="form-control"
                           placeholder="Search books from name or writer's name">
                    <div class="input-group-append">
                        <button class="btn btn-success" type="submit"><i class="bi bi-search"></i></button>
                    </div>
                </div>

            </form>

        </div>
        <hr>

        <div class="flex-wrap d-flex">
            <div class="col-md-12">
                <div class="d-flex flex-column justify-content-center align-items-center mt-5">
                    <h3>Book Introduction</h3><br>
                    <h5>We Are Here To Do This </h5><br>
                    <p>Introducing the written works of the greatest writers in the history of the world, including
                        Camus,
                        Charles Dickens and...
                        You can rate any works, publish your comments for any book, and you can see works similar to
                        that
                        book</p>
                    <div class="dev-box">
                        <h3 class="dev">for developers </h3>
                        <p class="dev-p">you can use the data by clicking on this <a
                                href="http://127.0.0.1:8000/swagger/">Api</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 p-2 d-flex justify-content-center align-items-center">
            {% for book in latest_books %}
                <div class="p-2 m-1">
                    <img class="book_cover rounded" src="{{ book.cover.url }}" style="width: 200px; padding: 5px"
                         alt="book-cover">
                    <h4><a class="text-white" href="{{ book.get_absolute_url }}">{{ book.name }}</a></h4>
                    <h5>by {{ book.writer.name }}</h5>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}