{% extends 'base.html' %}
{% load static %}
{% load ratings %}

{% block title %}
    {{ book.name }}
{% endblock %}

{% block references %}
    <link rel="stylesheet" href="{% static 'book/css/detail_of_books.css' %}">
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">

    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>

{% endblock %}

{% block content %}
    <div class="container p-3">
        <div class="d-flex flex-wrap">
            <div class="col-md-6">
                <img src="{{ book.cover.url }}" class="w-100 rounded" alt="">
                {% ratings object %}
            </div>

            <div class="col-md-6">
                <h2>{{ book.name }}</h2>
                <p>by <a href="{{ book.writer.get_absolute_url }}">{{ book.writer }}</a></p>
                {% for genre in book.genre.all %}
                    <h5 style="border: darkgray solid 3px ;width: fit-content;padding: 5px;border-radius: 10px">{{ genre.name }}</h5>
                {% endfor %}


                <h5 class="p-2">{{ book.description }}</h5>
                <p>published date : {{ book.yearpublished }}</p>
                <p> pages : {{ book.leaves }}</p>
                <hr>

                <div class="d-block">
                    {% if user.is_authenticated %}
                        <form method="post" action="{% url 'book:comment' book.id %}">
                            {% csrf_token %}
                            {{ comment_form.body }}
                            <button type="submit" class="btn btn-success">comment</button>
                        </form>
                    {% else %}
                        <p><a href="{% url 'accounts:login' %}">login</a> for adding comment</p>
                    {% endif %}
                </div>
                <div class="justify-content-center align-items-center mt-5 border-left border-right">
                    {% if comments %}
                        <p class="p-2">comments ({{ comments.count }})</p>
                        {% for comment in comments %}
                            <div class="d-flex justify-content-center py-2">
                                <div class="second py-2 px-2"><span class="text1">{{ comment.body }}</span>
                                    <div class="d-flex justify-content-between py-1 pt-2">
                                        <div><img src="{{ comment.user.avatar.url }}" width="18"><span
                                                class="text2">{{ comment.user.username }}</span></div>

                                        <div>
                                            {% if user.is_authenticated %}
                                                <span class="text3"><a
                                                        href="{% url 'book:comment_like' comment.id %}">like</a></span>
                                            {% endif %}
                                            <small>&nbsp {{ comment.total_like }}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>this book has no comments yet</p>
                    {% endif %}
                </div>
            </div>

        </div>

    </div>
{% endblock %}