{% extends 'base.html' %}

{% block title %}
    list of writers
{% endblock %}

{% block content %}
    <div class="container">
        <h3>list of writers</h3>
        <hr>
        <div class="d-flex">
            {% for writer in writers %}

                <div class="card" style="width:250px">
                    <img class="card-img-top p-1" src="{{ writer.image.url }}" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h6 class="card-title">{{ writer.name }}</h6>

                        <a href="{{ writer.get_absolute_url }}">More</a>
                    </div>
                </div>


            {% endfor %}
        </div>

    </div>
{% endblock %}