{% extends 'base.html' %}
{% load static %}

{% block title %}
    list of books
{% endblock %}

{% block references %}
    <link rel="stylesheet" href="{% static 'book/css/list_of_books.css' %}">
{% endblock %}

{% block content %}
    <div class="container">

        <h4 class="my-3">What genre are you looking for? </h4>
        {% for genre in genres %}
            <a href="{% url 'book:list_by_genre' genre.id %}"
               class="p-2 text-white rounded bg-secondary">{{ genre.name }}</a>
        {% endfor %}
        <hr>
        <h4 class="my-3">Who is your favorite writer? </h4>
        {% for writer in writers %}
            <a href="{% url 'book:list_by_writer' writer.slug %}"
               class="p-2 text-white rounded bg-secondary">{{ writer.name }}</a>
        {% endfor %}

        <hr>
        <div class="d-flex flex-wrap justify-content-center">
            {% if books %}
                {% for book in books %}
                    <div class="card" style="width:250px">
                        <img class="card-img-top p-1" src="{{ book.cover.url }}" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h6 class="card-title">{{ book.name }}</h6>
                            <p>by (<a href="{{ book.writer.get_absolute_url }}">{{ book.writer.name }}</a>)</p>
                            <a href="{% url 'book:book_detail' book.id %}">See Detail</a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div>
                    <h3>There is no any books</h3>
                </div>
            {% endif %}
        </div>

    </div>
{% endblock %}