{% extends 'base.html' %}

{% block title %}
    List Of Books
{% endblock %}

{% block content %}
    <div class="container">

        <h4 class="mt-3">What genre are you looking for? </h4>
        {% for genre in genres %}
            <a href="{% url 'book:list_by_genre' genre.id %}" class="p-2">{{ genre.name }}</a>
        {% endfor %}
        <hr>
        <div class="d-flex">
            {% for book in books %}
                <div class="p-4">
                    <h5>{{ book.name }}</h5>
                    <img src="{{ book.cover.url }}" alt="book" style="width: 120px"><br>
                    <a href="{% url 'book:book_detail' book.id %}">detail</a>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}