{% extends 'base.html' %}

{% block title %}
    List Of Books
{% endblock %}

{% block content %}
    <div class="container">
        <h3>list of books</h3>
        <div class="d-flex">
            {% for book in books %}
                <div class="p-4">
                    <h5>{{ book.name }}</h5>
                    <img src="{{ book.cover.url }}" alt="book" style="width: 120px"><br>
                    <a href="{% url 'book:book_detail' book.id %}">detail</a>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}